<a href="https://colab.research.google.com/github/ksh0t/Practica_python/blob/main/estructuradedatos_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ejercicio 1
"""
Pide al usuario el número de números enteros que va a introducir por teclado. Para cada uno de esos
números, crea una tupla donde la primera entrada sea el número entero y, la segunda, la palabra “par” o
“impar” según la paridad del número entero. Muestra la tupla recién creada al usuario
"""

intronum = int(input())
nums= []
for i in range(intronum):
    isEven = False
    k = int(input())
    if k % 2 == 0:
        isEven = True
    nums.append((k,"par"if isEven else "impar"))
print(nums)

2
10
5
[(10, 'par'), (5, 'impar')]

In [ ]:
#ejercicio 2
"""
Dado un año proporcionado por el usuario, crea una tupla de dos elementos cuya primera entrada sea el año
y, la segunda entrada, el horóscopo chino correspondiente.
"""

introanho = int(input())
horoscopes = ["mono", "gallo","perro", "cerdo", "rata", "buey", "tigre", "conejo", "dragon", "serpiente", "caballo", "cabra"]
horoscope = horoscopes[introanho % 12]
result = (introanho, horoscope)
print(result)

1992
(1992, 'mono')

In [ ]:
#Ejercicio 3
"""
Dada una frase proporcionada por el usuario, crea una lista de tuplas indicando palabra, longitud de cada
palabra, letra inicial y posición que ocupan dentro de la frase
"""

introfrase = input()
introfrase = introfrase.lower()
lista_tuplas = []
palabras = introfrase.split(" ")

for i in range(len(palabras)):
    lista_tuplas.append((palabras[i],len(palabras[i]), palabras[i][0],[i]))

print(lista_tuplas)

fede come
[('fede', 4, 'f', [0]), ('come', 4, 'c', [1])]

In [ ]:
#ejercicio 4
"""
Haz que el usuario introduzca palabras hasta que introduzca una palabra vacía. Guarda todas las palabras
en una tupla y muestra la primera y la última introducidas haciendo uso del método unpacking.

PISTA: Para guardar los elementos de uno en uno vas a tener que utilizar un tipo de dato que no es tupla
y luego transformarlo a tupla.
"""
intropalabra = input()
listapalabras = []

while intropalabra != " ":
    intropalabra = intropalabra.lower()
    listapalabras.append(intropalabra)
    intropalabra = input()
else:
    print("A continuación tu lista de palabras")

listapalabras = tuple(listapalabras)

first, *_ , last = listapalabras

print(first)
print(last)

fede
chaves
flecha

A continuación tu lista de palabras
fede
flecha

In [ ]:
#ejercicio 5
"""
Dada una lista de palabras, crea otra lista del mismo tamaño que guarde la longitud de cada palabra. Usa
la función zip() para crear un diccionario con claves las palabras y valores, su longitud.
"""

lista1 = ["manzana", "naranja", "pera"]
lista2 =[]
for i in lista1:
    lista2.append(len(i))

dicc = zip(lista1,lista2)
list(dicc)

[('manzana', 7), ('naranja', 7), ('pera', 4)]

In [ ]:
#ejercicio 6
"""
Haz que el usuario introduzca palabras hasta que introduzca una palabra vacía. Guarda todas las palabras
en una tupla y muestra la tupla y el número total de caracteres que ha introducido.
PISTA: Para guardar los elementos de uno en uno vas a tener que utilizar un tipo de dato que no es tupla
y luego transformarlo a tupla.
"""
intropalabra = input()
listapalabras = []
lista2=[]

while intropalabra != " ":
    intropalabra = intropalabra.lower()
    listapalabras.append(intropalabra)
    intropalabra = input()
else:
    print("tas ready")

for i in listapalabras:
    lista2.append(len(i))

dicc = zip(listapalabras,lista2)
list(dicc)

fede
comer
manzanas
nunca

tas ready

[('fede ', 5), ('comer', 5), ('manzanas', 8), ('nunca', 5)]

In [9]:
#ejercicio 7
"""
Crea una lista de 20 tuplas de tamaño 2. La primera entrada será un número entero entre 1 y 20 y la segunda
entrada contendrá una lista con los 10 primeros múltiplos del número entero correspondiente. Por último,
muestra las tablas de multiplicar del 1 al 20 con el formato “1 x 1 = 1”.
"""
lista1 = []

for i in range(1,21):
    lista1.append((i,[i * j for j in range(1,11)]))

for item in lista1:
    print(item[0])
    print("\n ==== taBLA DEL {} ====".format(item[0]))
    for multiple in item[1]:
        print(item[1].index(multiple))
        print("{} x {} = {}".format(item[0], item[1].index(multiple) +1, multiple))

1

 ==== taBLA DEL 1 ====
0
1 x 1 = 1
1
1 x 2 = 2
2
1 x 3 = 3
3
1 x 4 = 4
4
1 x 5 = 5
5
1 x 6 = 6
6
1 x 7 = 7
7
1 x 8 = 8
8
1 x 9 = 9
9
1 x 10 = 10
2

 ==== taBLA DEL 2 ====
0
2 x 1 = 2
1
2 x 2 = 4
2
2 x 3 = 6
3
2 x 4 = 8
4
2 x 5 = 10
5
2 x 6 = 12
6
2 x 7 = 14
7
2 x 8 = 16
8
2 x 9 = 18
9
2 x 10 = 20
3

 ==== taBLA DEL 3 ====
0
3 x 1 = 3
1
3 x 2 = 6
2
3 x 3 = 9
3
3 x 4 = 12
4
3 x 5 = 15
5
3 x 6 = 18
6
3 x 7 = 21
7
3 x 8 = 24
8
3 x 9 = 27
9
3 x 10 = 30
4

 ==== taBLA DEL 4 ====
0
4 x 1 = 4
1
4 x 2 = 8
2
4 x 3 = 12
3
4 x 4 = 16
4
4 x 5 = 20
5
4 x 6 = 24
6
4 x 7 = 28
7
4 x 8 = 32
8
4 x 9 = 36
9
4 x 10 = 40
5

 ==== taBLA DEL 5 ====
0
5 x 1 = 5
1
5 x 2 = 10
2
5 x 3 = 15
3
5 x 4 = 20
4
5 x 5 = 25
5
5 x 6 = 30
6
5 x 7 = 35
7
5 x 8 = 40
8
5 x 9 = 45
9
5 x 10 = 50
6

 ==== taBLA DEL 6 ====
0
6 x 1 = 6
1
6 x 2 = 12
2
6 x 3 = 18
3
6 x 4 = 24
4
6 x 5 = 30
5
6 x 6 = 36
6
6 x 7 = 42
7
6 x 8 = 48
8
6 x 9 = 54
9
6 x 10 = 60
7

 ==== taBLA DEL 7 ====
0
7 x 1 = 7
1
7 x 2 = 14
2
7 x 3 = 21
3
7 x 4 = 28
4
7 x 5 = 35
5
7 x 6 = 42
6
7 x 7 = 49
7
7 x 8 = 56
8
7 x 9 = 63
9
7 x 10 = 70
8

 ==== taBLA DEL 8 ====
0
8 x 1 = 8
1
8 x 2 = 16
2
8 x 3 = 24
3
8 x 4 = 32
4
8 x 5 = 40
5
8 x 6 = 48
6
8 x 7 = 56
7
8 x 8 = 64
8
8 x 9 = 72
9
8 x 10 = 80
9

 ==== taBLA DEL 9 ====
0
9 x 1 = 9
1
9 x 2 = 18
2
9 x 3 = 27
3
9 x 4 = 36
4
9 x 5 = 45
5
9 x 6 = 54
6
9 x 7 = 63
7
9 x 8 = 72
8
9 x 9 = 81
9
9 x 10 = 90
10

 ==== taBLA DEL 10 ====
0
10 x 1 = 10
1
10 x 2 = 20
2
10 x 3 = 30
3
10 x 4 = 40
4
10 x 5 = 50
5
10 x 6 = 60
6
10 x 7 = 70
7
10 x 8 = 80
8
10 x 9 = 90
9
10 x 10 = 100
11

 ==== taBLA DEL 11 ====
0
11 x 1 = 11
1
11 x 2 = 22
2
11 x 3 = 33
3
11 x 4 = 44
4
11 x 5 = 55
5
11 x 6 = 66
6
11 x 7 = 77
7
11 x 8 = 88
8
11 x 9 = 99
9
11 x 10 = 110
12

 ==== taBLA DEL 12 ====
0
12 x 1 = 12
1
12 x 2 = 24
2
12 x 3 = 36
3
12 x 4 = 48
4
12 x 5 = 60
5
12 x 6 = 72
6
12 x 7 = 84
7
12 x 8 = 96
8
12 x 9 = 108
9
12 x 10 = 120
13

 ==== taBLA DEL 13 ====
0
13 x 1 = 13
1
13 x 2 = 26
2
13 x 3 = 39
3
13 x 4 = 52
4
13 x 5 = 65
5
13 x 6 = 78
6
13 x 7 = 91
7
13 x 8 = 104
8
13 x 9 = 117
9
13 x 10 = 130
14

 ==== taBLA DEL 14 ====
0
14 x 1 = 14
1
14 x 2 = 28
2
14 x 3 = 42
3
14 x 4 = 56
4
14 x 5 = 70
5
14 x 6 = 84
6
14 x 7 = 98
7
14 x 8 = 112
8
14 x 9 = 126
9
14 x 10 = 140
15

 ==== taBLA DEL 15 ====
0
15 x 1 = 15
1
15 x 2 = 30
2
15 x 3 = 45
3
15 x 4 = 60
4
15 x 5 = 75
5
15 x 6 = 90
6
15 x 7 = 105
7
15 x 8 = 120
8
15 x 9 = 135
9
15 x 10 = 150
16

 ==== taBLA DEL 16 ====
0
16 x 1 = 16
1
16 x 2 = 32
2
16 x 3 = 48
3
16 x 4 = 64
4
16 x 5 = 80
5
16 x 6 = 96
6
16 x 7 = 112
7
16 x 8 = 128
8
16 x 9 = 144
9
16 x 10 = 160
17

 ==== taBLA DEL 17 ====
0
17 x 1 = 17
1
17 x 2 = 34
2
17 x 3 = 51
3
17 x 4 = 68
4
17 x 5 = 85
5
17 x 6 = 102
6
17 x 7 = 119
7
17 x 8 = 136
8
17 x 9 = 153
9
17 x 10 = 170
18

 ==== taBLA DEL 18 ====
0
18 x 1 = 18
1
18 x 2 = 36
2
18 x 3 = 54
3
18 x 4 = 72
4
18 x 5 = 90
5
18 x 6 = 108
6
18 x 7 = 126
7
18 x 8 = 144
8
18 x 9 = 162
9
18 x 10 = 180
19

 ==== taBLA DEL 19 ====
0
19 x 1 = 19
1
19 x 2 = 38
2
19 x 3 = 57
3
19 x 4 = 76
4
19 x 5 = 95
5
19 x 6 = 114
6
19 x 7 = 133
7
19 x 8 = 152
8
19 x 9 = 171
9
19 x 10 = 190
20

 ==== taBLA DEL 20 ====
0
20 x 1 = 20
1
20 x 2 = 40
2
20 x 3 = 60
3
20 x 4 = 80
4
20 x 5 = 100
5
20 x 6 = 120
6
20 x 7 = 140
7
20 x 8 = 160
8
20 x 9 = 180
9
20 x 10 = 200